* {
    margin: 0;
    padding: 0;
    box-sizing: border border-box;
}

body{
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    margin: 0;
    font-family: "bai jamjuree", sans-serif;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    gap: 20px;
}


    


.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
   
    gap: 20px;
}

.section3{
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    gap: 20px

}

.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding : 30px;





}
.section4 p{
    padding-bottom: 20px;
}
.section4 img{
    max-width: 100%;
}


button{
    border: none;
    padding: 10px 40px;
    font-family: "bai jamjuree", sans-serif;
    font-size: 15px;
    margin: 5px;
}

#ios{
    background-color:  hsl(171, 66%, 44%);
    border-radius: 10px;

}
#mac{
   background-color: hsl(233, 100%, 69%);
   border-radius: 10px
}

#Ios:hover{
    background-color: hsl(171, 66%, 44%);
    transition: 0.2s;

}

.ipad{
   max-width: 1000px;
   margin-bottom: 50px;
}


h1{
    color:hsl(210, 10%, 33%) ;
    font-size: 30px;
}

h2{
    color:hsl(210, 10%, 33%) ;
    font-size: 20px
    
}

p{
    color: hsl(201, 11%, 66%);

}
.pic{
    margin-bottom: 50px;
   
}

button:hover{
    cursor: pointer;
}

.pc{
    max-width: 100%;
}
.headline {
    max-width: 400px;
}


.text3{
    margin : 100px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 100px;
}

.blocks{
    display: flex;
   max-width: 1440;
 
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding : 60px
    
}

.blocks p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;      
}

.flex-boxar{
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.box{
   display: flex;
   flex-direction: column;
   justify-content: baseline;
   align-items: center;
    
    text-align: center;
    font-size: 18px;
   
    max-width: 400px;
    letter-spacing: 1px;

}

.box h2{
    font-size: 24px;
    margin: 10px;
    margin-top: 30px;
}

.box img{
    height: 40px;
}

.logos{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 25px;
    min-height: 300px;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
   
}



.logo{
    width: 100px;
   
}

.bottom{
    background-color:  rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 200px;
    padding: 20px;
}

.bottom img{
    width: 60px;
    margin-left: 100px;
}

.row1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.socials {
    display: flex;
    justify-content: flex-end;
    width: 20px;
}

.links{
    text-decoration: none;
}
.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    gap: 20px;
    
    
    
}




.clinks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px
}

.btn{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 375px){
    .btn { flex-direction: column;
            flex-wrap: wrap;
    }
    .logos{
        flex-direction: column;
    }
    .section3{
        flex-direction: column;
    }
    p{
        padding: 10px 0px;
    }
    .flex-boxar{
        flex-direction: column;
    }
    .clinks{
        flex-direction: column;
    }
    .links{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .row1{
            flex-direction: column;
            border: 1px;
        }

    
    }
    



